body.dark-mode .darkmode-input {
    background-color: black;
    box-shadow: 0 0 5px rgba(46, 44, 44, 0.4);
}

body.dark-mode #message {
    background-color: black;
    box-shadow: 0 0 5px rgba(46, 44, 44, 0.4);
}
body.dark-mode .contactMe{
    box-shadow: 0 0 15px rgba(17, 16, 16, 0.9);
}
body.dark-mode #contactMe-form{
    box-shadow: 0 0 15px rgba(17, 16, 16, 0.9);
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    gap: 20px;
    /* border: 2px solid; */
}


.contactMe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    box-shadow: 0 0 5px rgba(192, 188, 188, 0.5);
    border-radius: 20px;
}

.contactMe h4 {
    color: rgb(0, 0, 153);
    font-size: 18px;
}

.contactMe p {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
}

.contactMe ul {
    list-style: none;
}

.contactMe ul li {
    margin-top: 40px;
    font-weight: 600;
}

.contactMe ul li i {
    color: blue;
}

#contactMe-form {
    box-shadow: 0 0 5px rgba(192, 188, 188, 0.5);
    padding: 30px;
    border-radius: 20px;
}


.name {
    border: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(192, 188, 188, 0.4);
    outline: none;
    font-size: 15px;
    color: black;
    margin-top: 20px;
    min-height: 8vh;
    border-radius: 5px;
}

.email {
    border: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(192, 188, 188, 0.4);
    outline: none;
    font-size: 15px;
    color: black;
    margin-top: 5px;
    min-height: 8vh;
    border-radius: 5px;
}

.subject {
    border: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 5px rgba(192, 188, 188, 0.4);
    outline: none;
    font-size: 15px;
    color: black;
    margin-top: 5px;
    min-height: 8vh;
    border-radius: 5px;

}


#message {
    resize: none;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(192, 188, 188, 0.4);
    width: 100%;
    padding: 15px;
    min-height: 25vh;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#contactMe-form button {
    border: none;
    padding: 10px;
    background-color: blue;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;

}


@media (max-width: 767px) {
    .contact-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        width: 90%;

    }
}